<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923339554511-4sjvnj2rudd6h7mkkeslg6b7o38bpmo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923339554511-4sjvnj2rudd6h7mkkeslg6b7o38bpmo1</string>
	<key>API_KEY</key>
	<string>AIzaSyD_mwmXgmPqTbPQye0lvyHXJ2-aSbhxx1A</string>
	<key>GCM_SENDER_ID</key>
	<string>923339554511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SultanAhmed.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1382d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1382d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923339554511:ios:0049569e51a3a5008ec1ba</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-1382d.firebaseio.com</string>
</dict>
</plist>